/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

.title-line {
    grid-column: 1/-1;
    border: none;
    border-top: solid 2px #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.title-line2 {
    grid-column: 1/-1;
    border: none;
    border-top: solid 2px #fff;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.c-fine { display: inline-flex;
	margin-left: 108px;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: space-evenly;
}

.c-fine1 { display: inline-flex;
	margin-left: 138px;
	margin-top: 15px;
	margin-bottom: 10px;
	
}

.c-fine3 { display: inline-flex;
	margin-left: 128px;
	margin-top: 15px;
	margin-bottom: 18px;
	
}
/*html selectors*/

body {
	font-family: 'Montserrat', 'Times New Roman', serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
}
#container1 {
	margin: 0 auto;
	width: 428px;
	height: max-content;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
}
/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #703535;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:rgb(255, 255, 255);
	display: block;
	margin-bottom: 10px;
}

/* index page */

#hero-con {
	background-color: #e0e0e0;
	background: url("../images/mobile_home/hero-image.jpg");
	height: 458px;
}

#collect {
	color: #703535;
	font-size: 38px;
	font-weight: 600;
	margin-top: 55px;
	margin-bottom: 50px;
	text-align: center;
	
}


#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 457px;
	width: 428px;
	color: #fff;
	background-color: #70353561;
	margin-left: -20px;
}
#hero-text h2 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 110px;	
}
#hero-text p {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
#hero-text h3 {
	font-size: 22px;
	font-weight: 790;
	text-align: center;
}


#image-slider-con {
	background-color: #dddddd;
	/* Remove as content will dictate height */
	height: 507px;
	position: relative;
	
	background-image: url(../images/mobile_home/lipstick_home.jpg);
	background-repeat: no-repeat;
}

#image-slider-con h3 {
	color: #fff;
	font-size: 39px;
	text-align: center;
	margin-bottom: 100px;
	padding-top: 270px;
	font-weight: bold;
}


#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 110px;
	color:#fff;
	top: 230px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 110px;
	color:#fff;
	top: 230px;
}

#about-us-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
}

#about-us-text-con {
	background-color: #dddddd;
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
	margin-top: 70px;
	margin-bottom: 40px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
}

#army {
	color: rgb(0, 0, 0);
	font-size: 50px;
	grid-column: 1/5;
	color: white;	
	text-align: center;
	margin-top: 10px;
}
#army p{
	font-size: 20px;
	margin-bottom: 30px;
}

#about-con {
	background-color: #703535;
	height: max-content;
	padding-top: 10px;
	margin-bottom: 50px;
	margin-top: 10px;
	grid-column: 1/-1;

}
#about-title {
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #703535;
	height: 50px;
	width: 305px;
	margin-bottom: -10px;
	margin-top: 90px;
	padding-top: 20px;
	margin-left: 39px;
}

#army h3 {
	width: 100px;
	height: 25px;
	padding-top: 1px;
	font-size: 20px;
	color: #703535;
	text-align: center;
	margin-bottom: 60px;
}

.box-color a h3 { 
	background-color: #ffffff;
	margin-left: 150px;
}
.box-color p a { color: white;}

#rewards { 
	font-size: 18px;
	line-height: 30px;
	color: rgb(255, 255, 255);
	text-align: left;
	padding-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#free1 {
	border-radius: 150px;
	margin-left: 90px;
	margin-bottom: 30px;
}
#free2 {
	border-radius: 190px;
	margin-left: 40px;
	margin-bottom: 30px;
}
#vid1 {
	border-radius: 900px;
	margin-left: 50px;
	border: solid 2px black;
	height: 309px;
	width: 320px;
	margin-bottom: 25px ;
}
#vid2 {
	border-radius: 300px;
	margin-left: 100px;
	border: solid 2px black;
	height: 200px;
	width: 200px;
	margin-bottom: 25px ;
}
/*--CONTACT--*/

#contact-us-con {
	margin-top: 100px;
	margin-bottom: 60px;
}

#contact p{
	grid-column: -1/1;
	font-size: 20px;
	color: #703535;
	margin-left: 70px;
}

#hero {
	grid-column: 2/7;
	color: #703535;
	font-size: 35px;
	margin-top: 70px;
	margin-left: 70px;
	margin-bottom: 7px;
}

#contact-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-bottom: 150px;
}
#contact ul {
	font-size: 22px;
	grid-column: 3/5;
	line-height: 70px;
	list-style: none;
} 

#contact input[type="checkbox"] {
	height: 23px;
}

#contact-form form {
	display: flex;
	flex-direction: column;
}

#contact-form {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 499px;
	background-color: #703535;
	padding: 40px 20px 40px 20px;
	border: solid 1px black;
	margin-bottom: 45px;
	margin-top: 40px;
}
#contact-form input, textarea {
    padding: 10px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 20px;
}
#contact-form textarea {
    height: 84px;
}

#contact-form input[type="submit"] {
    width: 134px;
	font-size: 20px;
	font-weight: bold;
   	padding-right: 20px;
    background-color: #ffffff;
    color: #703535;
    border: none;
    align-self: center;
}

#contact-form input[type="submit"]:hover {
	background-color:#703535;
	border-radius: 7px;
	border: solid 3px #ffffff;
	color: white;
	cursor: pointer;
	transition: all .1s ease-in;
}

/*Common page elements  */
#footer-con {
	height: 530px;
	background-color: #703535;
	padding-bottom: 20px;
	color: white;
	margin-top: 30px;
	background: url(../images/mobile_home/Footer.jpg) no-repeat bottom;
	grid-auto-rows: min-content;
	margin-top: 30px;
}
#logo1 input, textarea {
    padding: 12px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 15px;
}

#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	height:45px;
}

#footer-newsletter {
	margin-top: 100px;
	/* Remove as content will dictate height */
	height:100px;
	grid-column: 1/-1;
	background-color: #ddd;
}

/* gallery page */


#hero-gallery-con {
	background-color: #aaaaaa;
	background: url(../images/mobile_home/hero_image_gallery.jpg);
	height: 458px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-top: 20px;
}

#gallery h2 {
	color: #703535;
	margin-bottom: 20px;
	margin-top: 40px;
	font-size: 26px;
}
.find-it {
	grid-column: 1/-1;
	text-align: center;
	margin-top: 20px;
}
.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-bottom: 20px;
}


.gallery-box {
	grid-column: 1/-1;
	margin-bottom: 0px;
	width: fit-content;
	margin-top: 40px;
	margin-left: -5px;
}
.gallery-box2 {
	grid-column: 1/-1;
	margin-left: -5px;
}
.gallery-box h3, p, h4 {
	text-align: center;
}





/*---PRODUCT 1---*/
#color-button{
	background: #99D851;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button1{
	background:#FC283F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button2{
	background:#BCBCBC;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button3{
	background:#96592b;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 1---*/

/*---PRODUCT 2---*/
#color-button6-1{
	background: #ff9c9e;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-2{
	background:#FB3D3D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-3{
	background:#7A4242;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-4{
	background:#c48355;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-5{
	background: #E35C3E;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button6-6{
	background:#EBEBEB;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 2---*/

/*---PRODUCT 3---*/
#color-button9-1{
	background: #F4814D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-2{
	background:#A0522D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-3{
	background:#7A4242;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-4{
	background:#2F4F4F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-5{
	background: #FF0000;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button9-6{
	background: #FF7F50;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 3---*/

/*---PRODUCT 4---*/
#color-button10-1{
	background: #987A61;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-2{
	background:#f5f5f5;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-3{
	background: #174946;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-4{
	background: #097290;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button10-5{
	background: #41825C;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 4---*/

.gallery-box h3, p, h4 {
	text-align: center;
}
/*---Add to Bag--*/
.gallery-box h3 {
	grid-column: 1/-1;
	background-color: #828282;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #ffffff;
	font-size: 35px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 50px;
  }
  /*---Add to Bag--*/

  #poster {
	background-color: rgb(255, 255, 255);
	height: 488px;
	margin-bottom: 40px;
	width: fit-content;
	margin-top: 0px;
	margin-left: -5px;
}


#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/4;
	background-color: #703535;
	background: url("...images/mobile_home/footer.jpg");
}

#footer-icons ul {
	display: flex;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	list-style-type: none;
	margin-top: -15px;
	margin-left: -36px;
	margin-bottom: 0px;
}
#footer-icons {
	grid-auto-flow: column;	
	grid-column-gap: 50px;
	grid-column: 1/4;
	list-style-type: none;
}
.footer-logo1 {
	grid-column: 1/4;
	margin-top: 15px;
	align-items: center;

  }

#mail {
    padding: 12px;
	padding-right: 25px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 12px;
	margin-left: 7px;
	width: 150px;
	display: inline;
}
#sub {
	
	border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 18px;
	height: 40px;
}

#download {
    grid-column: 1/-1;
    font-size: 16px;
    text-align: center;
}


#policy {
    grid-column: 1/-1;
    font-size: 15px;
    text-align: center;
	margin-top: 10px;
}
.menu {
	font-size: 16px;
	color: #fff;
	grid-column: 1/4;
	text-align: left;
	font-weight:500;
	margin-top: -15px;
	margin-bottom: -5px;
}

#download p a {
	color: #fff;
	display: flex;
	font-weight: lighter;
	font-size: 16px;
	margin-left: 117px;
}

