/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/




/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

.title-line {
    grid-column: 1/-1;
    border: none;
    border-top: solid 5px #703535;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

/*---Start of Header---*/

#logo {
	grid-column: 1/3;
    /* Remove as content will dictate height - DONE*/
	margin-top: 21px;
    margin-bottom: 14px;
}

#icons {
    grid-column: 10/-1;
	grid-row: 1/2;
    margin-top: 20px; 
}

#icons ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#icons ul li { 
	list-style: none;
	margin-left: 20px;
}

#reg { 
	grid-column: 12/-1;
	color: white;
	align-self: center;
}


header a {
    grid-column: 11/12;
}

#header-con {
	background-color: #703535;
	padding-top: 10px;
	padding-bottom: 10px;
    position: sticky;
}


#main-text {
	grid-column: 1/6;
}

#main-text h2 {
	font-size: 76px;
	color: #703535;
	margin-top: 20px;
	margin-bottom: 7px;
	padding-left: 63px;
}

#main-text h3 {
	font-size: 51px;
	color: #703535;
	text-align: center;
}

#main-text p{
	grid-column: 1/6;
	font-size: 41px;
	color: #703535;
	font-weight: 300;
	padding-left: 63px;
	margin-bottom: 10px;
}

#buy-now {
	background-color: #703535;
	color: white;
	font-size: 30px;
	display: flex;
	justify-content: right ;
	align-items: center;
	height: 75px;
	width: 200px;
	margin-top: -80px;
	padding-right: 20px;
	grid-column: 3/4;
	padding-left: 20px;
	border-radius: 10px;
	font-weight: 700;
}

#cart {
	grid-column: 3/3;
	margin-top: -72px;
	position: relative;
	padding-left: 20px;
}


#main-nav {
	grid-column: 4/11;
    margin-top: 10px;
    margin-left: 26px;
	/* Remove as content will dictate height */
	height: 80px;
    grid-row: 1/2;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-left: 26px;
}

#main-nav ul li {
    display: inline;
    margin-right: 30px;
	font-size: 26px;
}

#main-nav ul li a {
    color: white;
}

#hero1 {
	margin-top: 100px;
}
/*---End of Header---*/


/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
}


/*---Start of Collection---*/
#products {
	margin-top: 100px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	color: #703535;
	font-size: 53px;
	height: 75px;
	margin: 5px 0 0 20px;
}

#products h3 {
	grid-column: 1/-1;
	background-color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #000000;
	font-size: 35px;
	border: solid 3px black;
	height: 75px;
	margin-top: 5px;
}

#product1 {
	grid-column: 1/5;
	margin-bottom: 100px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

#product4 {
	grid-column: 1/5;
	margin-bottom: 100px;
}

#product5 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product6 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

#collect {
	color: #703535;
	font-size: 58px;
	font-weight: 600;
	margin-top: 25px;
}

/*---End of Collection---*/


#army {
	color: rgb(0, 0, 0);
	font-size: 90px;
	grid-column: 1/5;
	color: white;	
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

#army h3 {
	width: 200px;
	height: 50px;
	padding-top: 10px;
	font-size: 30px;
	color: #703535;
	text-align: center;
	margin-left: 220px;
	margin-top: -20px;
}

#army p{
	font-size: 26px;
}

.box-color p a { color: white;}

.box-color a h3 { 
	background-color: #ffffff;
	grid-column: 2/5;
}

#rewards { 
	grid-column: 6/9;
	font-size: 26px;
	line-height: 60px;
	color: rgb(255, 255, 255);
	text-align: left;
	padding-top: 150px;
}



#about-con {
	background-color: #703535;
	height: max-content;
	padding-top: 10px;
	margin-top: -50px;
	margin-bottom: 50px;

}

#about-title {
	text-align: center;
	font-size: 50px;
	color: white;
	padding: 40px 0 40px 0;	
	background-color: #703535;
	grid-column: 5/9;
	margin-top: -100px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}


/*--CONTACT US---*/

#contact {
	grid-column: 2/7;
	margin-top: -10px;
}

#contact h2 {
	margin-bottom: 20px;
}
#contact h3 {
	font-size: 19px;
	color: #703535;
}
#contact p{
	grid-column: 2/7;
	font-size: 32px;
	color: #703535;
}

#hero {
	grid-column: 2/7;
	color: #703535;
	font-size: 45px;
	margin-top: 70px;
}
#contact ul {
	font-size: 26px;
	grid-column: 3/5;
	line-height: 70px;
	list-style: none;
}

#contact input[type="checkbox"] {
	height: 23px;
}

#contact-form {
	grid-column: 8/12;
	background-color: #703535;
	padding: 40px 20px 40px 20px;
	border: solid 3px black;
	margin-bottom: 45px;
	margin-top: 40px;
}

#contact-form form {
	display: flex;
	flex-direction: column;
}

#contact-form input, textarea {
    padding: 22px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 25px;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input[type="submit"] {
    width: 180px;
	font-size: 30px;
	font-weight: bold;
   	padding-right: 30px;
    background-color: #ffffff;
    color: #703535;
    border: none;
    transition: all .1s ease-in;
    align-self: center;
}

#contact-form input[type="submit"]:hover {
	background-color:#703535;
	border-radius: 10px;
	border: solid 3px #ffffff;
	color: white;
	cursor: pointer;
}

/*Common page elements  */

/*---START OF FOOTER---*/

#footer-con {
	background-color: #703535;
	padding-bottom: 20px;
	color: white;
	margin-top: 30px;
	background: url(../images/Footer.jpg) no-repeat bottom;
	grid-auto-rows: min-content;
	margin-top: 30px;
}

#mail {
    padding: 12px;
	padding-right: 25px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 15px;
	margin-left: 7px;
	width: 200px;
}


#logo2 input, textarea {
    padding: 12px;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 15px;
}

#sub {
	
	border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 15px;
	width: 100px;
	height: 45px;
}

#select {
	padding: 12px 0 12px 0;
	border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
	font-size: 15px;
	width: 50px;
	align-content: center;
}

.footer-logo1 {
	grid-column: 1/7;
	margin-top: 30px;
}

.footer-logo2 {
	grid-column: 8/-1;
	margin-top: 30px;
}

.grid-con-footer {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
}

#footer-con li a { 
	color: white;
}

#footer-con li { 
	color: white;
	list-style: none;
}

#footer-con nav {
grid-column: 1/7;
}

#footer-nav { grid-column: 3/-1;}

.footer-nav1 { grid-column: 1/3;}

.footer-nav2 { grid-column: 3/5;}

#f-nav ul li { 
	margin-bottom: 9px ;
	margin-left: -140px;
	font-size: 20px;
}

#f-nav1 ul li { 
	margin-bottom: 9px ;
	margin-left: -160px;
	font-size: 20px;
}

#f-nav2 ul li { 
	margin-bottom: 9px ;
	margin-left: -140px;
	font-size: 20px;
}

#f-nav3 ul li { 
	margin-bottom: 9px ;
	margin-left: -160px;
	font-size: 20px;
}

#footer-icons {
	grid-column: 8/-1 ;
}

#footer-icons ul {
	display: flex;
	grid-auto-flow: column;	
	grid-column-gap: 50px;
}

#download {
    grid-column: 7/12;
    font-size: 26px;
    text-align: center;
}

#store {
	padding-left: 20px;
}

#policy {
    grid-column: 2/12;
    font-size: 15px;
    text-align: center;
	margin-top: 50px;
}

/*---END OF FOOTER---*/


/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("../images/hero_image_gallery.jpg");
	height: 580px;
}

.gallery-box h3 {
	grid-column: 1/-1;
	background-color: #828282;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #ffffff;
	font-size: 35px;
	height: 70px;
	margin-top: 5px;
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#colors {
	margin-top: 0px;
	grid-column: 1/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	display: inline;
	border-radius: 50%;
	margin: 5px;
}

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(141, 141, 141);
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 840px;
	margin-bottom: 40px;
	width: fit-content;
}

.gallery-box h3, p, h4 {
	text-align: center;
}

/*---PRODUCT 1---*/
#color-button{
	background: #99D851;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button1{
	background:#FC283F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button2{
	background:#BCBCBC;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button3{
	background:#96592b;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
.color-button{ margin-left: 160px;}
/*---END OF PRODUCT 1---*/

/*---PRODUCT 2---*/
#color-button2-1{
	background: #FF8204;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button2-2{
	background:#A51515;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button2-3{
	background:#8AAD90;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button2-4{
	background:#704B30;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button2-5{
	background: #87CCC0;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button2-6{
	background:#6b645f;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
.color-button2{ margin-left: 126px;}
/*---END OF PRODUCT 2---*/

/*---PRODUCT 3---*/
#color-button3-1{
	background: #ECECEC;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button3-2{
	background:#180406;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button3-3{
	background: #23548D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button3-4{
	background: #1E1E1E;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button3-5{
	background: #D18888;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button3-6{
	background:#671616;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 3---*/

/*---PRODUCT 4---*/
#color-button4-1{
	background: #FF0000;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button4-2{
	background:#FF00D5;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button4-3{
	background: #1E1E1E;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button4-4{
	background: #772719;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT4---*/

/*---PRODUCT 5---*/
#color-button5-1{
	background: #8B8B8B;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button5-2{
	background:#4A47B4;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button5-3{
	background: #E13D7A;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button5-4{
	background: #E3C7AC;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button5-5{
	background: #635252;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
.color-button3{ margin-left: 145px;}
/*---END OF PRODUCT 5---*/

/*---PRODUCT 6---*/
#color-button6-1{
	background: #ff9c9e;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-2{
	background:#FB3D3D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-3{
	background:#7A4242;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-4{
	background:#c48355;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button6-5{
	background: #E35C3E;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button6-6{
	background:#EBEBEB;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 6---*/

/*---PRODUCT 7---*/
#color-button7-1{
	background: #FD4D39;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button7-2{
	background: #556B2F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button7-3{
	background: #800080;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button7-4{
	background: #D2B48C;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT7---*/

/*---PRODUCT 8---*/
#color-button8-1{
	background: #664635;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button8-2{
	background:#191970;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button8-3{
	background: #171717;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button8-4{
	background: #9E2323;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button8-5{
	background: whitesmoke;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 8---*/

/*---PRODUCT 9---*/
#color-button9-1{
	background: #F4814D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-2{
	background:#A0522D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-3{
	background:#7A4242;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-4{
	background:#2F4F4F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button9-5{
	background: #FF0000;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button9-6{
	background: #FF7F50;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 9---*/

/*---PRODUCT 10---*/
#color-button10-1{
	background: #987A61;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-2{
	background:#f5f5f5;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-3{
	background: #174946;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button10-4{
	background: #097290;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button10-5{
	background: #41825C;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 10---*/

/*---PRODUCT 11---*/
#color-button11-1{
	background: #CE6A6F;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button11-2{
	background: #D8BFD8;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button11-3{
	background: #340909;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

#color-button11-4{
	background: #FF1E1E;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT11---*/

/*---PRODUCT 12---*/
#color-button12-1{
	background:#FDAAAD;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button12-2{
	background:#A0522D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button12-3{
	background:#FB3D3D;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button12-4{
	background:#274d4d;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
#color-button12-5{
	background: #800000;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px; 
	border-radius: 100px;
}
#color-button12-6{
	background: #5F9EA0;
	border: solid .1px rgb(114, 114, 114);
	width: 30px;
	height: 30px;
	border-radius: 100px;
}
/*---END OF PRODUCT 12---*/

.poster-vir {
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(141, 141, 141);
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 788px;
	margin-bottom: 40px;
	width: fit-content;
}

#textButton:hover{
	background-color: green;
}