@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/




/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

.title-line {
    grid-column: 1/-1;
    border: none;
    border-top: solid 5px #703535;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

/*---Start of Header---*/

#logo {
	grid-column: 1/3;
    /* Remove as content will dictate height - DONE*/
	margin-top: 21px;
    margin-bottom: 14px;
}

#icons {
    grid-column: 10/12;
    grid-row: 1/2;
    margin-top: 10px; 
}

header a {
    grid-column: 11/12;
}

#header-con {
	background-color: #703535;
	padding-top: 10px;
	padding-bottom: 10px;
    position: sticky;
}


#main-text {
	grid-column: 1/6;
}

#main-text h2 {
	font-size: 76px;
	color: #703535;
	margin-top: 20px;
	margin-bottom: 7px;
	padding-left: 63px;
}

#main-text h3 {
	font-size: 51px;
	color: #703535;
	text-align: center;
}

#main-text p{
	grid-column: 1/6;
	font-size: 41px;
	color: #703535;
	font-weight: 300;
	padding-left: 63px;
	margin-bottom: 10px;
}

#buy-now {
	background-color: #703535;
	color: white;
	font-size: 30px;
	display: flex;
	justify-content: right ;
	align-items: center;
	height: 75px;
	width: 200px;
	margin-top: -80px;
	padding-right: 20px;
	grid-column: 3/4;
	padding-left: 20px;
	border-radius: 10px;
	font-weight: 700;
}

#cart {
	grid-column: 3/3;
	margin-top: -72px;
	position: relative;
	padding-left: 20px;
}


#main-nav {
	grid-column: 4/11;
    margin-top: 10px;
    margin-left: 26px;
	/* Remove as content will dictate height */
	height: 80px;
    grid-row: 1/2;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-left: 26px;
}

#main-nav ul li {
    display: inline;
    margin-right: 30px;
	font-size: 26px;
}

#main-nav ul li a {
    color: white;
}

/*---End of Header---*/


/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
}


/*---Start of Collection---*/
#products {
	margin-top: 100px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	color: #703535;
	font-size: 53px;
	height: 75px;
	margin: 5px 0 0 20px;
}

#products h3 {
	grid-column: 1/-1;
	background-color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #000000;
	font-size: 35px;
	border: solid 3px black;
	height: 75px;
	margin-top: 5px;
}

#product1 {
	grid-column: 1/5;
	margin-bottom: 100px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

#collect {
	color: #703535;
	font-size: 58px;
	font-weight: 600;
	margin-top: 25px;
}

/*---End of Collection---*/



#rewards ul { 
	grid-column: 5/7;
	font-size: 18px;
	margin-bottom: 0px;
}


#about-con {
	background-color: #703535;
	padding-top: 10px;
	margin-top: -50px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	font-size: 50px;
	color: white;
	padding: 40px 0 40px 0;	
	background-color: #703535;
	grid-column: 5/9;
	margin-top: -100px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}


/*--CONTACT US---*/

#contact {
	grid-column: 2/7;
	margin-top: -10px;
}

#contact h2 {
	margin-bottom: 20px;
}
#contact h3 {
	font-size: 19px;
	color: #703535;
}
#contact p{
	grid-column: 2/7;
	font-size: 32px;
	color: #703535;
}

#hero {
	grid-column: 2/7;
	color: #703535;
	font-size: 45px;
	margin-top: 70px;
}
#contact ul {
	font-size: 20px;
	grid-column: 3/5;
	line-height: 50px;
}


#contact-form {
	grid-column: 8/12;
	background-color: #703535;
	padding: 40px 20px 40px 20px;
}

#contact-form form {
	display: flex;
	flex-direction: column;
}

input, textarea {
    padding: 22px;
    border: 2px solid #303030;
    border-radius:  5px;
    background-color: #ffffff;
    margin-bottom: 15px;
    font: inherit;
}

#contact-form textarea {
    height: 300px;
}

#contact-form input[type="submit"] {
    width: 100px;
    padding: 16px 32px;
    background-color: #ffffff;
    color: #703535;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
}

#contact-form input[type="submit"]:hover {
	background-color:#703535;
	border-radius: 10px;
	border: solid 3px #ffffff;
	color: #ffffff;
}
/*Common page elements  */

#footer-con {
	background-color: #dadada;
	padding-bottom: 20px;
	color: white;
}

#footer-logo1 {
	grid-column: 1/6;
	/* Remove as content will dictate height */
	
}

#footer-logo2 {
	grid-column: 9/13;
	/* Remove as content will dictate height */
}

#footer-nav {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	
	margin-bottom: 100px;
}

#footer-nav1 {
	grid-column: 1/3;
}

#footer-nav2 {
	grid-column: 4/6;
	grid-row: 2/3;
}

#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-newsletter2 {
	grid-column: 5/7;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-social {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}

#price-policy {
    grid-column: 2/12;
    font-size: 10px;
    text-align: center;
}



/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/1920x580");
	height: 580px;
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #ddd;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
}